{% assign locale = include.locale | default: site.locale %}
{% capture overlay_img_path %}{{ jpage.header.overlay_image | relative_url }}{% endcapture %}

{% if jpage.header.overlay_filter contains "gradient" %}
  {% capture overlay_filter %}{{ jpage.header.overlay_filter }}{% endcapture %}
{% elsif jpage.header.overlay_filter contains "rgba" %}
  {% capture overlay_filter %}{{ jpage.header.overlay_filter }}{% endcapture %}
  {% capture overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}){% endcapture %}
{% elsif jpage.header.overlay_filter %}
  {% capture overlay_filter %}rgba(0, 0, 0, {{ jpage.header.overlay_filter }}){% endcapture %}
  {% capture overlay_filter %}linear-gradient({{ overlay_filter }}, {{ overlay_filter }}){% endcapture %}
{% endif %}

{% if jpage.header.image_description %}
  {% assign image_description = jpage.header.image_description %}
{% else %}
  {% assign image_description = jpage.title %}
{% endif %}

{% assign image_description = image_description | markdownify | strip_html | strip_newlines | escape_once %}

<div class="page__hero{% if jpage.header.overlay_color or jpage.header.overlay_image %}--overlay{% endif %}"
  style="{% if jpage.header.overlay_color %}background-color: {{ jpage.header.overlay_color | default: 'transparent' }};{% endif %} {% if overlay_img_path != nil %}background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}');{% endif %}"
>
  {% if jpage.header.overlay_color or jpage.header.overlay_image %}
    <div class="wrapper">
      <h1 id="page-title" class="page__title" itemprop="headline">
        {% if paginator and site.paginate_show_page_num %}
          {{ site.title }}{% unless paginator.page == 1 %} {{ site.data.ui-text[locale].page | default: "Page" }} {{ paginator.page }}{% endunless %}
        {% else %}
          {{ jpage.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
        {% endif %}
      </h1>
      {% if jpage.tagline %}
        <p class="page__lead">{{ jpage.tagline | markdownify | remove: "<p>" | remove: "</p>" }}</p>
      {% elsif jpage.header.show_overlay_excerpt != false and jpage.excerpt %}
        <p class="page__lead">{{ jpage.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
      {% endif %}
      {% include page__meta.html locale=locale %}
      {% if jpage.header.actions %}
        <p>
        {% for action in jpage.header.actions %}
          <a href="{{ action.url | relative_url }}" class="btn btn--light-outline btn--large">{{ action.label | default: site.data.ui-text[locale].more_label | default: "Learn More" }}</a>
        {% endfor %}
        </p>
      {% endif %}
    </div>
  {% else %}
    <img src="{{ jpage.header.image | relative_url }}" alt="{{ image_description }}" class="page__hero-image">
  {% endif %}
  {% if jpage.header.caption %}
    <span class="page__hero-caption">{{ jpage.header.caption | markdownify | remove: "<p>" | remove: "</p>" }}</span>
  {% endif %}
</div>
