{% assign locale = include.locale | default: site.locale %}
{% if jpage.previous or jpage.next %}
  <nav class="pagination" aria-label="Post pagination">
    {% if jpage.previous %}
      <a href="{{ jpage.previous.url | relative_url }}" class="pagination--pager" title="{{ jpage.previous.title | markdownify | strip_html | strip}}">{{ site.data.ui-text[locale].pagination_previous | default: "Previous" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[locale].pagination_previous | default: "Previous" }}</a>
    {% endif %}
    {% if jpage.next %}
      <a href="{{ jpage.next.url | relative_url }}" class="pagination--pager" title="{{ jpage.next.title | markdownify | strip_html | strip}}">{{ site.data.ui-text[locale].pagination_next | default: "Next" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[locale].pagination_next | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}
