{% assign locale = include.locale | default: site.locale %}
{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
{% endif %}
<script src="{{ '/assets/js/navigation.js' | relative_url }}"></script>
<script src="{{ '/assets/js/search.js' | relative_url }}"></script>

{% if site.search == true or jpage.layout == "search" %}
  {% include search/pagefind-search-scripts.html locale=locale %}
{% endif %}

{% if site.after_footer_scripts %}
  {% for script in site.after_footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}
