---
layout: archive
---
{%- assign locale = jpage.locale | default: layout.locale | default: site.locale %}

{{ content }}

<h2 class="archive__subtitle">{{ site.data.ui-text[locale].recent_posts | default: "Recent Posts" }}</h2>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = jpage.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html locale=locale entries=posts type=entries_layout %}
</div>

{% include paginator.html locale=locale %}
